.board {
    background-color: #ccc;
    position: relative;
}

@media all and (orientation: landscape) {
    .board {
        height: 100vh;
        width: 100vh;
        float: left;
    }
}

@media all and (orientation: portrait) {
    .board {
        height: 100vw;
        width: 100vw;
    }
}